.container,
.container-darkmode {
    margin-top: var(--default-layout-header-height);
}
.container,
.wrapper {
    color: var(--black);
    min-height: calc(100vh - var(--default-layout-header-height));
}
.container-darkmode,
.wrapper-darkmode {
    background-color: (--dark);
    color: var(--white);
    min-height: calc(100vh - var(--default-layout-header-height));
}
