.wrapper,
.wrapper-darkmode {
    padding: 16px 32px;
    min-height: calc(100vh - var(--default-layout-header-height));
}
.wrapper {
    background-color: var(--white);
    color: var(--black);
}
.wrapper-darkmode {
    background-color: var(--dark);
    color: var(--white);
}
.type-btn {
    padding: 4px 8px;
    background-color: #aaa;
    color: var(---black);
    border-radius: 4px;
    cursor: pointer;
    + .type-btn {
        margin-left: 8px;
    }
    &:hover {
        background-color: var(--primary-hover);
        color: #ddd;
    }
}
.button-click {
    background-color: var(--primary);
    color: var(--white);
}
